.messagedata{"data-message-id" => "#{message.id}"}
  .message__upper
    .message__upper--user-name
      = message.user.name
    .message__upper--date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__text
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
