.flash-box
  .flash-box_notice
.wrapper
  = render 'shared/side-bar'
  .chat-main
    .header
      .header_leftbox
        %h2.header_leftbox_group
          = @group.name
        %ul.header_leftbox_member-list
          - @group.users.each do |user|
            = user.name
      .header_rightbox
        .header_rightbox_edit-btn Edit
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: "input-box__text" ,placeholder: 'type a message'
          = f.label :image, class: "input-box__image" do
            = fa_icon 'i.fas', class: "fa-image"
            = f.file_field :image, class: "message_image"
        = f.submit 'Send', class: "submit-btn"
